In [77]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:
dfbackup = pd.read_csv('new_df.csv')
df=dfbackup.copy()
df.head()

,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,enrolled,liked,location,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,Other,SavingsCount,CreditCount,CCCount,LoanCount
0,235136,3,2,23,15,0,0,0,0,0,...,0,0,0,0,0,9,0,0,0,1
1,333588,6,1,24,13,0,0,0,0,1,...,0,0,0,0,0,7,0,0,0,1
2,254414,1,19,23,3,0,1,0,1,0,...,0,0,0,0,0,2,0,0,0,1
3,234192,4,16,28,40,0,0,1,0,1,...,0,0,0,0,0,8,0,3,0,1
4,51549,1,18,31,32,0,0,1,1,0,...,0,0,0,0,0,12,0,2,0,1

In [79]:
X = df.drop('enrolled', axis=1)
y = df['enrolled']

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, stratify = y, random_state=42)

In [82]:
train_id=X_train['user']
X_train.drop('user', axis=1, inplace=True)
test_id=X_test['user']
X_test.drop('user', axis=1, inplace=True)

C:\Users\fadhl\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [83]:
from sklearn.preprocessing import StandardScaler

In [84]:
scaler = StandardScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train))
X_test_scaled = pd.DataFrame(scaler.transform(X_test))

In [85]:
X_train_scaled.columns = X_train.columns.values
X_test_scaled.columns = X_test.columns.values

In [86]:
X_train_scaled.head()

,dayofweek,hour,age,numscreens,minigame,used_premium_feature,liked,location,Institutions,VerifyPhone,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,Other,SavingsCount,CreditCount,CCCount,LoanCount
0,1.461571,-1.281317,-0.342630,-0.133148,-0.346740,-0.455333,-0.445979,0.964336,-0.644071,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,0.484310,-0.25879,-0.764101,-0.290420,0.311999
1,1.461571,-0.609100,-0.714125,1.196892,2.884007,-0.455333,-0.445979,-1.036983,1.552624,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,-0.059614,-0.25879,0.054630,4.595384,0.311999
2,1.461571,0.332005,0.121739,-0.639830,-0.346740,-0.455333,-0.445979,-1.036983,-0.644071,0.951905,...,8.317177,-0.118292,-0.117092,-0.090085,-0.085457,-0.603538,-0.25879,-0.764101,-0.290420,0.311999
3,-0.013373,0.869779,-0.714125,-0.449824,2.884007,-0.455333,-0.445979,0.964336,-0.644071,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,0.212348,-0.25879,0.054630,-0.290420,0.311999
4,0.969923,0.197561,1.421971,-0.639830,-0.346740,-0.455333,-0.445979,-1.036983,-0.644071,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,-0.603538,-0.25879,0.054630,-0.290420,-1.168598

In [87]:
X_train_scaled.index = X_train.index.values
X_test_scaled.index = X_test.index.values

In [88]:
X_train_scaled.head()

,dayofweek,hour,age,numscreens,minigame,used_premium_feature,liked,location,Institutions,VerifyPhone,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,Other,SavingsCount,CreditCount,CCCount,LoanCount
26248,1.461571,-1.281317,-0.342630,-0.133148,-0.346740,-0.455333,-0.445979,0.964336,-0.644071,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,0.484310,-0.25879,-0.764101,-0.290420,0.311999
2421,1.461571,-0.609100,-0.714125,1.196892,2.884007,-0.455333,-0.445979,-1.036983,1.552624,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,-0.059614,-0.25879,0.054630,4.595384,0.311999
45611,1.461571,0.332005,0.121739,-0.639830,-0.346740,-0.455333,-0.445979,-1.036983,-0.644071,0.951905,...,8.317177,-0.118292,-0.117092,-0.090085,-0.085457,-0.603538,-0.25879,-0.764101,-0.290420,0.311999
42991,-0.013373,0.869779,-0.714125,-0.449824,2.884007,-0.455333,-0.445979,0.964336,-0.644071,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,0.212348,-0.25879,0.054630,-0.290420,0.311999
44060,0.969923,0.197561,1.421971,-0.639830,-0.346740,-0.455333,-0.445979,-1.036983,-0.644071,-1.050525,...,-0.120233,-0.118292,-0.117092,-0.090085,-0.085457,-0.603538,-0.25879,0.054630,-0.290420,-1.168598

# Modeling

In [89]:
from sklearn.linear_model import LogisticRegression

In [90]:
clf = LogisticRegression(random_state = 0)
clf.fit(X_train_scaled, y_train)

LogisticRegression(random_state=0)

In [91]:
y_pred = clf.predict(X_test_scaled)

In [92]:
from sklearn.metrics import confusion_matrix, classification_report, precision_score, recall_score, accuracy_score

In [93]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)

In [94]:
print(confusion_matrix(y_test, y_pred))

[[3877 1153]
 [1153 3817]]

In [95]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.77      0.77      5030
           1       0.77      0.77      0.77      4970

    accuracy                           0.77     10000
   macro avg       0.77      0.77      0.77     10000
weighted avg       0.77      0.77      0.77     10000

In [96]:
from sklearn.model_selection import cross_val_score

In [97]:
cvscore = cross_val_score(clf, X_train_scaled, y_train, cv=10)

In [98]:
print(cvscore)

[0.7715  0.7595  0.77525 0.7655  0.762   0.7845  0.7615  0.766   0.77375
 0.759  ]

* Acuracy = 77%
* Precision = 77%
* Recall = 77%

In [99]:
final_result = pd.concat([test_id, y_test], axis=1)

In [100]:
final_result['prediction'] = y_pred

In [101]:
final_result.reset_index(inplace=True, drop=True)

In [102]:
final_result['correct'] =  np.where(final_result.enrolled == final_result.prediction, 1, 0)

In [103]:
final_result

        user  enrolled  prediction  correct
0      75142         0           0        1
1     104426         0           1        0
2     365692         1           1        1
3     126533         0           0        1
4     192855         0           1        0
...      ...       ...         ...      ...
9995  139710         0           0        1
9996  352013         0           1        0
9997  334401         0           1        0
9998   89222         1           1        1
9999  118341         0           1        0

[10000 rows x 4 columns]

In [104]:
final_result.correct.value_counts(normalize=True)

1    0.7694
0    0.2306
Name: correct, dtype: float64

In [105]:
final_result.to_csv('final_result.csv', index=False)